/* #background{
  /* background-image: linear-gradient(#C2Edce,#Badfe7) !important;  
 height: 900px; */


} */
.navbar{
background-color: #388087 !important;
}
.container{
    background-color:#Badfe7;
    /* background-color:#FAF6F2; */
    border-radius: 25px;
    padding-top: 30px;
    margin-top:0px !important;
}

.Grade { 
font-size: 20px;
-ms-grid-row-align: stretch;
margin-top:12px;
outline-color: gray;
}

#tutorForm {
    height: 410px; width: 400px;
    margin-bottom: 100px;
}

.btn{
    width: 370px;
}

#footerRow {
    text-align: center;
    margin-top: 200px;
    background-color:#Badfe7;
    width: auto;
}