.body{
    background-image: linear-gradient(red, yellow)!important ;

}

.navbar{
background-color: #388087 !important;
}
.container{
    background-color:#BADFE7;
    border-radius: 25px;
    padding-top: 30px;
}
.Grade { 
font-size: 20px;
-ms-grid-row-align: stretch;
margin-top:12px;
outline-color: gray;

}


.btn{
    width: 370px;
}

#footerRow {
    margin-top: 5px;
    width: 500px;
}