
/* form layout */
.container{
    background-color:#Badfe7;
    border-radius: 25px;

}


/* styling for grade dropdown */
.Grade { 
font-size: 20px;
-ms-grid-row-align: stretch;
margin-top:12px;
outline-color: gray;
}


/* update button */
.btn{
    width: 370px;
}

