/* CSS styling for shome.html */

/* 3 large buttons (green) buttons */
.btn{
    color:black;
    padding:70px;
    font-size: xx-large;
    text-align:center;
    background: #c2edce !important;
    text-align: center !important;
    text-decoration: none;
} 

.btn:hover{
   
    background:coral !important;
}
h1{
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}



