/* 3 large buttons (blue) buttons for tHome.html*/

/* changed .btn to #transBtnBlue
styling not altered */

 #transBtnBlue {
    color:black;
    padding:70px;
    font-size: xx-large;
    text-align:center;
     background: #388087 !important;
    text-align: center !important;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: inline-block;
    height: 25px;
} 

#transBtnBlue:hover {
    /* background-color:green; */
    background: green !important;
}
