 /* tab-header styling */
.nav-link {
    color:blue !important;
}
.navbar-example2{
    background-color: coral;
}
 
 .btn{
    color:black;
    padding:70px;
    font-size: xx-large;
    text-align:center;
    background: #388087 !important;
    text-align: center !important;
    text-decoration: none;
} 

.btn:hover{
    /* background-color:green; */
    background: green !important;
}
h1{
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}

#footerRow {
    text-align: center;
    margin-top: 100px;
    background-color:#Badfe7;
    width: auto;
}