 /* CSS styling for shome.html */

/* 3 large buttons (blue) buttons */
 .btn{
    color:black;
    padding:70px;
    font-size: xx-large;
    text-align:center;
    background: #388087 !important;
    text-align: center !important;
    text-decoration: none;
} 

.btn:hover{
    /* background-color:green; */
    background: green !important;
}
h1{
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}
