body {
  outline: 5px solid black;
}
/* login form */
form {
  margin: 200px auto;
  width: 50%;
}

img {
  height: 200px;
}
.clicky {
  margin-top: 15px;
}

.remember-box {
  margin-top: 10px;
}
#myCarousel {
  position:relative;
  height:100vh;
  width:100%; 
  background: #000;
}

#myCarousel .carousel-inner{
  position:relative;
  height:100%;
  width:100%; 
}

#myCarousel .carousel-inner .carousel-item{
  position:relative;
  height:100%;
  width:100%; 
  background-image:url(../views/images/carousel1.jpg);
  background-size: 100% 100%;
  background-position: center;
}


#myCarousel .carousel-inner .carousel-item:nth-child(2){
  position:relative;
  background-image:url(../views/images/carousel2.jpg);
  background-size: 100% 100%;
  background-position: center;
}

#myCarousel .carousel-inner .carousel-item:nth-child(3){
  position:relative; 
  background-image:url(../views/images/carousel3.jpg);
  background-size: 100% 100%;
  background-position: center;
}

.autocom-box li{
  display:none;
}

.search-input.active .autocom-box{
padding: 5px 8px;
pointer-events:auto;
}

.autocom-box li{
  display:none;
}
.search-input.active .autocom-box li{
  display:block;
}