/* sHome.html styling*/


/* 3 large buttons (green) buttons */
/* changed .btn to #transBtnGreen
styling not altered */

#transBtnGreen {
    color:black;
    padding:70px;
    font-size: xx-large;
    text-align:center;
    background: #c2edce !important;
    text-align: center !important;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: inline-block;
    height: 25px;
}

#transBtnGreen:hover {
   
    background:coral !important;
}



