<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- My CSS -->
    <link rel="stylesheet" href="../css/cardExample.css">
    <title>Document</title>
</head>
<body>

    <div class="container-fluid postRow">
        <div class="row flex-row flex-nowrap">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name goes here</li>
                  <li class="list-group-item">Subjectgoes here</li>
                  <li class="list-group-item">Education level goes here</li>
                  <li class="list-group-item">Pricing goes here</li>
                  <li class="list-group-item">Locationgoes here</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Message</a>
                  <a href="#" class="card-link">Accept</a>
                </div>
            </div>  
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name goes here</li>
                  <li class="list-group-item">Subjectgoes here</li>
                  <li class="list-group-item">Education level goes here</li>
                  <li class="list-group-item">Pricing goes here</li>
                  <li class="list-group-item">Locationgoes here</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Message</a>
                  <a href="#" class="card-link">Accept</a>
                </div>
            </div>  
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name goes here</li>
                  <li class="list-group-item">Subjectgoes here</li>
                  <li class="list-group-item">Education level goes here</li>
                  <li class="list-group-item">Pricing goes here</li>
                  <li class="list-group-item">Locationgoes here</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Message</a>
                  <a href="#" class="card-link">Accept</a>
                </div>
            </div>  
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name goes here</li>
                  <li class="list-group-item">Subjectgoes here</li>
                  <li class="list-group-item">Education level goes here</li>
                  <li class="list-group-item">Pricing goes here</li>
                  <li class="list-group-item">Locationgoes here</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Message</a>
                  <a href="#" class="card-link">Accept</a>
                </div>
            </div>  
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name goes here</li>
                  <li class="list-group-item">Subjectgoes here</li>
                  <li class="list-group-item">Education level goes here</li>
                  <li class="list-group-item">Pricing goes here</li>
                  <li class="list-group-item">Locationgoes here</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Message</a>
                  <a href="#" class="card-link">Accept</a>
                </div>
            </div>  
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name goes here</li>
                  <li class="list-group-item">Subjectgoes here</li>
                  <li class="list-group-item">Education level goes here</li>
                  <li class="list-group-item">Pricing goes here</li>
                  <li class="list-group-item">Locationgoes here</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Message</a>
                  <a href="#" class="card-link">Accept</a>
                </div>
            </div>  
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name goes here</li>
                  <li class="list-group-item">Subjectgoes here</li>
                  <li class="list-group-item">Education level goes here</li>
                  <li class="list-group-item">Pricing goes here</li>
                  <li class="list-group-item">Locationgoes here</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Message</a>
                  <a href="#" class="card-link">Accept</a>
                </div>
            </div>  
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name goes here</li>
                  <li class="list-group-item">Subjectgoes here</li>
                  <li class="list-group-item">Education level goes here</li>
                  <li class="list-group-item">Pricing goes here</li>
                  <li class="list-group-item">Locationgoes here</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Message</a>
                  <a href="#" class="card-link">Accept</a>
                </div>
            </div>  
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name goes here</li>
                  <li class="list-group-item">Subjectgoes here</li>
                  <li class="list-group-item">Education level goes here</li>
                  <li class="list-group-item">Pricing goes here</li>
                  <li class="list-group-item">Locationgoes here</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Message</a>
                  <a href="#" class="card-link">Accept</a>
                </div>
            </div>  
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name goes here</li>
                  <li class="list-group-item">Subjectgoes here</li>
                  <li class="list-group-item">Education level goes here</li>
                  <li class="list-group-item">Pricing goes here</li>
                  <li class="list-group-item">Locationgoes here</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Message</a>
                  <a href="#" class="card-link">Accept</a>
                </div>
            </div>  
        </div>
    </div>
<!-- Bootstrap javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>