<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
   <!--link to css page-->
   <link href="../css/form.css" type="text/css" rel="stylesheet">


    <title>Document</title>
</head>
<body>
 <!--Heading bar--> 
 <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
    <h3>Tuition App</h3>
    <h5>Your one stop solution for tuition</h5>
 </nav>
<!--End of Header-->
  
<div class="mx-auto mt-3" style="width: 300px;">
    <form action="googleMapsApi.html" class="text-center">
        <h2 class="text-center">Please enter and submit your details</h2>
       
        <div>
            <label for="Name">Name:</label>        
            <br>
            <input type="text" placeholder="Name" id="Name" required>
        </div>

        <!-- Subject-->
    <div class="Grade mt-3">
      
     <select name="column_select" id="column_select">
        <option value="col1">Grade</option>
          <option value="col1">Primary 1</option>
          <option value="col1">Primary 2</option>
          <option value="col1">Primary 3</option>
          <option value="col1">Primary 4</option>
          <option value="col1">Primary 5</option>
          <option value="col1">Primary 6</option>
       
          <option value="col2">Secondary 1</option>
          <option value="col2">Secondary 2</option>
          <option value="col2">Secondary 3</option>
          <option value="col2">Secondary 4</option>

          <option value="col3">Junior College 1</option>
          <option value="col3">Junior College 2</option>
       
    </select>
   
    <select name="layout_select" id="layout_select">
       
    <!--Below shows when '1 column' is selected is hidden otherwise-->
    <option value="col1_ms">Subject</option>
    <option value="col1_sms">Math</option>
    <option value="col1_smss">Science</option> 
    <option value="col1_smss">English</option> 
     
    <!--Below shows when '2 column' is selected is hidden otherwise-->
    <option value="col2_ms">English</option> 
    <option value="col2_sms">Physics</option>
    <option value="col2_sms">Biology</option>
    <option value="col2_smss">Chemistry</option>
    <option value="col2_smss">Elementary Math</option>
    <option value="col2_smss">Additional Math</option>
    <option value="col2_smss">Geography</option>
    <option value="col2_smss">History</option>
    
    <!-- Below shows when '3 column' is selected is hidden otherwise-->
    <option value="col3_mss">General Paper</option>
    <option value="col3_ssm">H2 Futher Math</option>
    <option value="col3_sms">H2 Literature</option> 
    <option value="col3_sms">H2 Business</option> 
    <option value="col3_sms">H2 Psychology</option> 
    <option value="col3_sms">H2 Chemistry</option> 
    <option value="col3_sms">H2 Physics</option> 
    
    

   </select>
   </div>



        <!-- <div class="Grade">
            <input class="Grade-search" type="text" placeholder="Grade" list="Grade" id="select1" onchange="getSelectValue(this.value);">
            <datalist id="Grade">
                <label for="EducationLevel">Grade:</label>
                <select name="grade" id="Grade1" onchange="onGradeselected">
               <option value= "Primary 1">Primary 1</option>
               <option value= "Primary 2">Primary 2</option>
               <option value= "Primary 3">Prima</option>
               <option value= "Primary 4"></option>
               <option value= "Primary 5"></option>
               <option value= "Primary 6"></option>
               <option value= "Secondary 1"></option>
               <option value= "Secondary 2"></option>
               <option value= "Secondary 3"></option>
               <option value= "Secondary 4"></option>
               </select>
            </datalist> -->
        


            
        

       <!-- Education Level
       <div>
            <label for="EducationLevel">Education Level:</label>
            <br>
            <select name="EducationLevel" id="EducationLevel">
                <option value="PrimarySchool">Primary School</option>
                <option value="SecondarySchool">Secondary School</option>
                <option value="JuniorCollege">Junior College</option>
            </select>
       </div> -->

       <!-- Pricing -->
        <div class="mt-2">
            <label for="Pricing">Pricing:</label>
            <br>
            <select name="price Range" id="Price Range">
                <option value="$30 - $40">$30 - $40</option>
                <option value="$40 - $50">$40 - $50</option>
                <option value="Above $50">Above $50</option>
            </select>
        </div>

        <!-- Location -->
        <div class="mt-1 mb-2">
            <label for="Location">Location:</label>
            <br>
            <input type="text" placeholder="Location" id="Location" required>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    
    </form>
   </div> 

  
  
<!-- Bootstrap Javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="../app.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    $(document).ready(function() { // this waits until the document is fully loaded
    // Put custom logic here
    $(document).ready(function() {
    $("#layout_select").children('option:gt(2)').hide();
    $("#column_select").change(function() {
        $("#layout_select").children('option').hide();
        $("#layout_select").children("option[value^=" + $(this).val() + "]").show()
    })
  })    
});
</script>


</body>
</html>