<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<!-- Variables needed: Name, Subject, subject level, price range and location -->
<div class="d-flex justify-content-center mt-3">
    <form action="" >
        <h2 class="text-center">Please enter and submit your details</h2>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Subject">
        <input type="text" placeholder="Education Level">
        <input type="text" placeholder="Price Range">
        <select id="Price Range" name="#">
            <option value="$25 - $35">$25 - $35</option>
            <option value="$35-$45">$35 - $45</option>
            <option value="$45-$55">$45 - $55</option>
            <option value="Above $55">Above $55</option>
          </select>
        <input type="text" placeholder="Location">
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>

  
<!-- Bootstrap Javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>