<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
 <!-- Bootstrap CSS -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
 <!--link to css page-->
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>

 <div class = "transition buttons">

    <div class="container container-fluid">

        <h2>Student Home Page</h2>
    
        <a href="sUpdateProfile.html" class="btn-primary d-flex justify-content-center  h-25 d-inline-block " role="button">Update Profile</a>
        <a href="FindATutor.html" class="btn-primary d-flex justify-content-center h-25 d-inline-block mt-5" role="button">Find A Tutor</a>
        <a href="#" class="btn-primary d-flex justify-content-center h-25 d-inline-block mt-5" role="button">Request for tutor</a>

    </div>

 </div>   

</body>    
</html>