<!DOCTYPE html>
<html lang="en">

<head>
    <title>login page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>
    <div class="container border mx-auto shadow-sm mt-5" style="height: 350px; width: 400px;">
        <form class="mt-5">
            <h3 class="form-header text-center">Sign Up</h3>

            <div class="d-grid gap-2">
                <a class="btn btn-primary mt-2" href="register.html" role="button">As student</a>
            </div>

            <div class="text-center mt-3">OR</div>

            <div class="d-grid gap-2 mt-3">
                <a class="btn btn-primary" href="register.html" role="button">As Tutor</a>
            </div>

            <div id = "sign-up link"class= "text-center mt-5">
                <small>Already have an account?</small>
                <br><a href="login.html"><u>Sign In</u></a>
            </div>
            
            
        </form>
    </div>



    <!-- js extension -->
    <script src= "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src= "../app.js"></script>
    

</body>
</html>